{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        {% for apartment in apartments %}
            <div class="card" style="width: 18rem;">
                <img src="https://picsum.photos/200" class="card-img-top" alt="image">
                <div class="card-body">
                    <h5 class="card-title">{{ apartment.name }}</h5>
                    <p class="card-text">Price: {{ calculatePrice(apartment.price, apartment.slots) }}$ for all</p>
                </div>
                <div class="card-body">
                    <a href="{{ path('apartment_reservation', {'id': apartment.id}) }}" class="btn btn-primary reservation">Reservation</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}